body{
    background-color: rgb(24, 92, 95);
}

h1{
    position: relative;
    text-align: center;
    background-color: rgba(7, 6, 6, 0.5);
    color: rgb(170, 255, 42);
    padding: 40px;
    border-radius: 25px;
    
}
